# Dependencies folder
/node_modules
/**/node_modules
/vendor
/**/vendor

# Compiled
/dump
/build
/dist

# Compiled package files
/packages/hashi/**/*.js

# Map files
*/**/*.css.map

# Test files
## CSS
*/**/*.test.css
*/**/*.test.css.map
## JS
*/**/*.test.js
*/**/*.test.d.ts

# Workstations
/.idea
/.vscode
/dump/