# Dependencies folder
/node_modules
/vendor

# Compiled
/dump
/build
/dist

# Map files
*/**/*.css.map

# Test files
*/**/*.test.css
*/**/*.test.css.map

# Workstations
/.idea
/.vscode
/dump/

# On hold dirs
# /src/hs-core/color/
/src/hs-core/shape/
/src/hs-core/type/
/src/hs-core/settings/
